/**
 * @author: Arie M. Prasetyo (2020)
 */

.Show {
  padding: 0 8px;
}

.Show img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mask-image: linear-gradient(to top,  rgba(255,255,255,0) 20%, rgba(255,255,255, 1) 100%);
}

.Show > .content {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}

.Show > .content > .infoBox {
  display: flex;
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 10px 0;
}

.Show > .content > .infoBox > h1 {
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 240%;
  line-height: 97%;
  text-shadow: 2px 2px black;
  white-space: nowrap;
}

.Show > .content > .infoBox > p {
  font-size: 70%;
  width: 185px;
  text-align: unset;
}

.Show > .content > .infoBox > .buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.Show > .content > .infoBox > .buttons > button {
  margin: 4px 0;
  width: 60px;
  height: 26px;
}

.Show > .content > .season {
  flex-grow: 1;
  margin: 52px 20px;
  padding: 10px;
  background: rgb(10, 10, 10, 0.6);
}

.Show > .content img.seasonPoster {
  width: 185px;
  margin-top: 8px
}

.Show > .content > .infoBox > .score {
  font-family: 'Rubik', sans-serif;
}

/* mobile layout */

@media (max-width: 800px) {
  .Show > .content {
    flex-direction: column;
  }

  .Show > .content > .season {
    padding: 10px 0;
  }

  .Show > .content > .infoBox > p {
    display: none;
  }

  .Show > .content > .season {
    margin: unset;
  }
}