/**
 * @author: Arie M. Prasetyo (2020)
 */

.Content {
	padding: 10px;
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

/* mobile layout */
@media (max-width: 800px) {
	.Content {
		top: 60px;
	}
}