/**
 * home page
 * @author: Arie M. Prasetyo (2020)
 */

.Home {
	padding: 10px;
}

.Home > .resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Home > .resultContainer > .result {
  flex-basis: 160px;
}

.Home > .resultContainer > .result > span {
  font-family: 'DM Serif Display', serif;
}