/**
 * home page
 * @author: Arie M. Prasetyo (2020)
 */

.Home {
	padding: 0 8px;
}

.Home img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mask-image: linear-gradient(to top,  rgba(255,255,255,0) 15%, rgba(255,255,255, 1) 100%);
  z-index: 0;
}

.Home > .resultContainer {
  position: relative;
  top: -140px;
  margin: 0 auto;
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Home > .resultContainer > .result {
  flex-basis: 160px;
  height: 330px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  cursor: pointer;
  position: relative;
}

.Home > .resultContainer > .result > a {
  text-decoration: none;
}

.Home > .resultContainer > .result > a > .avg {
  position: absolute;
  top: 1mm;
  right: 2mm;
  transition: 0.5s top;
}

.Home > .resultContainer > .result > a > img {
  transition: 0.5s margin-top;
}

.Home > .resultContainer > .result > a:hover > img {
  margin-top: -8mm;
}

.Home > .resultContainer > .result > a:hover > .avg {
  top: -4mm;
}

.Home > .resultContainer > .result > a > .text {
  padding: 2px 0 0 0;
}

.Home > .resultContainer > .result > a > .text > span {
  font-family: 'DM Serif Display', serif;
  color: rgb(174, 230, 209);
  padding: 0;
  min-height: 2.4em;
  display: inline-block;
  line-height: 1.2em;
}

.Home > .resultContainer > .result > a > .text > p {
  color: #dedede;
  font-size: 70%;
  padding: 0;
  height: 80px;
  mask-image: linear-gradient(to top,  rgba(255,255,255,0) 30%, rgba(255,255,255, 1) 100%);
}

.Home > .featured {
  position: relative;
  margin: 20px auto 0;
  width: 840px;
  background: rgba(10,10,10,0.5);
  text-align: right;
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.Home > .featured > h1 {
  color: rgb(242, 94, 94);
  font-family: 'DM Serif Display', serif;
}

.Home > .featured > p {
  text-align: right;
  width: 360px;
}

.Home > .featured > a {
  margin-top: 8px;
  color: rgb(3, 150, 166);
}

.Home > .searchBar {
  position: relative;
  margin: 72px auto 0;
  padding: 0;
  width: 840px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.Home > .searchBar > span {
  font-size: 80%;
  color: rgb(242, 94, 94);
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
}

.Home > .searchBar > input {
  background: rgb(10,10,10);;
  color: #eee;
  line-height: 2em;
  padding: 2px 8px 6px;
  width: 208px;
  outline: none;
  border: none;
  font-size: 1.3em;
}

/* mobile layout */

@media (max-width: 800px) {
  .Home > .resultContainer {
    top: -220px;
    width: unset;
  }

  .Home > .featured {
    width: unset;
  }

  .Home > .featured > p {
    width: 100%;
    line-height: 1.2em;
  }
}