/**
 * @author: Arie M. Prasetyo (2020)
 */

.Navigation {
	position: absolute;
	top: 0;
	left: 0;
	height: 48px;
	right: 0;
	padding: 10px 20px;
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.Navigation > a {
	text-decoration: none;
	cursor: pointer;
}

.Navigation > a > .logo {
	font-family: 'DM Serif Display', serif;
	font-size: 240%;
	color: rgb(3, 150, 166);	
}