/**
 * @author: Arie M. Prasetyo (2020)
 */

.Navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 18px;
	box-sizing: border-box;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.Navigation > a {
	text-decoration: none;
	cursor: pointer;
}

.Navigation > a > .logo {
	padding: 0;
}

.Navigation > a > .logo > img {
	width: 80px;
}

/* mobile layout */

@media (max-width: 800px) {
  .Navigation {
		padding: 10px 19px;
	}
}